@tailwind base;
@tailwind components;
@tailwind utilities;

/* MAIN */

html {
  scroll-behavior: smooth;
}

body {
  @apply bg-zinc-900 text-zinc-50;
}

/* UTILITY */

.material-symbols-rounded {
  @apply w-[1em] h-[1em] overflow-hidden;
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
}

.container {
  @apply px-4 mx-auto lg:px-8 xl:max-w-6xl;
}

/* NAVIGATION */

.navbar {
  @apply absolute top-full mt-2 right-0 min-w-40 p-2 bg-zinc-50/10 rounded-2xl ring-inset 
  ring-1 ring-zinc-50/5 scale-90 isolate blur-sm opacity-0 invisible 
  transition md:static md:flex md:items-center md:mt-0 md:opacity-100 md:blur-0 md:visible md:scale-100 backdrop-blur-2xl;
}

.navbar.active {
  @apply opacity-100 scale-100 blur-0 visible;
}

.nav-link {
  @apply grid items-center h-9 px-4 text-sm font-medium tracking-wide text-zinc-50/50
  hover:text-zinc-50 transition-colors;
}

.nav-link.active {
  @apply text-zinc-50 duration-500;
}

.navbar .active-box {
  @apply absolute bg-emerald-700 rounded-lg -z-10 transition-all duration-500;
}

/* TYPOGRAPHY */

.subheader {
  @apply text-2xl mb-3 font-bold bg-gradient-to-r from-emerald-500 to-emerald-50 bg-clip-text text-transparent;
}

/* BUTTONS */

.menu-btn {
  @apply w-10 h-10 grid place-items-center bg-zinc-50/10 rounded-xl ring-inset ring-1
ring-zinc-50/[0.02] backdrop-blur-2xl hover:bg-zinc-50/15 active:scale-95 transition;
}

.btn {
  @apply h-9 flex items-center justify-center gap-2
 font-medium ring-1 ring-zinc-50/5 ring-inset transition-colors;
}

.btn-secondary {
  @apply bg-emerald-50/90 text-zinc-900 active:scale-95 transition active:bg-emerald-600;
}

.btn-text {
  @apply bg-transparent text-emerald-50/80 active:scale-95 transition;
}

/* INPUT */

.input-field {
  @apply block p-2 w-full rounded-xl border bg-zinc-900 border-zinc-50/50 focus:outline-none focus:border-emerald-800 focus:ring-emerald-800 transition;
}
